# read factory calibration and sensor configuration data
allow hal_sensors_default persist_file:dir search;
allow hal_sensors_default sensors_cal_file:dir search;
allow hal_sensors_default sensors_cal_file:file create_file_perms;
allow hal_sensors_default sensors_device:chr_file { rw_file_perms };
allow hal_sensors_default sysfs_sensors:file { rw_file_perms };

r_dir_file(hal_sensors_default, sensors_persist_file)

# interact with the sensors low power island (SLPI) CPU
allow hal_sensors_default self:socket { create ioctl read write };
allowxperm hal_sensors_default self:socket ioctl msm_sock_ipc_ioctls;

allow hal_sensors_default qdsp_device:chr_file r_file_perms;
allow hal_sensors_default nanohub_lock_file:file rw_file_perms;
allow hal_sensors_default nanohub_lock_file:dir { read search };

allow hal_sensors_default system_data_file:dir rw_dir_perms;
