allow hal_fingerprint_default fingerprint_device:chr_file { rw_file_perms };
allow hal_fingerprint_default firmware_file:dir { search };
allow hal_fingerprint_default firmware_file:file { r_file_perms };
allow hal_fingerprint_default sysfs_fpc_irq:file { rw_file_perms };
allow hal_fingerprint_default sysfs_fpc_wake:file { rw_file_perms };
allow hal_fingerprint_default sysfs_fpc_charger:file { rw_file_perms };
allow hal_fingerprint_default tee_device:chr_file { rw_file_perms };
allow hal_fingerprint_default servicemanager:binder { call transfer };
allow hal_fingerprint_default self:netlink_socket create_socket_perms_no_ioctl;
allow hal_fingerprint_default fingerprint_service:service_manager { find };
allow hal_fingerprint_default power_service:service_manager { find };
allow hal_fingerprint_default uhid_device:chr_file { rw_file_perms };
allow hal_fingerprint_default hal_power_hwservice:hwservice_manager find;
allow hal_fingerprint_default sysfs_usb_supply:dir search;
allow hal_fingerprint_default sysfs_usb_supply:file { r_file_perms };
allow hal_fingerprint_default hal_power_default:binder { call };
