allow priv_app proc_modules:file {read open write getattr};
allow priv_app proc_interrupts:file {open};
allow priv_app proc_stat:file {read open getattr};
allow priv_app device:dir {open};
allow priv_app device:file {read open};
allow priv_app usb_device:dir {read open};