allow qti_init_shell kmsg_device:chr_file { write open };
allow qti_init_shell diag_prop:property_service set;
allow qti_init_shell self:socket create_socket_perms;
allow qti_init_shell configfs:file rw_file_perms;
allow qti_init_shell carrier_file:file getattr;
qmux_socket(qti_init_shell)
