allow sdcardd userdata_block_device:blk_file r_file_perms;
allow sdcardd system_data_file:dir { read open write add_name };
allow sdcardd unlabeled:dir { getattr read search open };

