allow system_app sysfs_sensors:file w_file_perms;
type sysfs_kcal, fs_type, sysfs_type;
allow system_app sysfs_kcal:dir search;
allow system_app sysfs_kcal:file rw_file_perms;
allow system_app time_daemon:unix_stream_socket {connectto};
allow system_app ota_package_file:dir create_dir_perms;
allow system_app ota_package_file:file create_file_perms;
allow untrusted_app_25 sysfs_kcal:dir search;
allow untrusted_app_25 sysfs_kcal:file rw_file_perms;
