allow wcnss_service self:capability {
    dac_override
    net_raw
};
allow wcnss_service diag_prop:property_service set;
get_prop(wcnss_service, diag_prop);
