on init
    # Set up schedtune
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Disable UFS powersaving
    write /sys/devices/soc/1da4000.ufshc/clkscale_enable 0
    write /sys/devices/soc/1da4000.ufshc/clkgate_enable 0
    write /sys/devices/soc/1da4000.ufshc/hibern8_on_idle_enable 0

    write /sys/module/lpm_levels/parameters/sleep_disabled Y

    # Add a cpuset for the camera daemon
    mkdir /dev/cpuset/camera-daemon 0750 cameraserver cameraserver
    write /dev/cpuset/camera-daemon/cpus 0-7
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

# For cpusets initialize for Silver Only first and then Silver + Gold
# Silver Only configuration cannot work with 0-7
on boot
   write /dev/cpuset/top-app/cpus 0-3
   write /dev/cpuset/foreground/cpus 0-3
   write /dev/cpuset/background/cpus 0-3
   write /dev/cpuset/system-background/cpus 0-3
   write /dev/cpuset/top-app/cpus 0-7
   write /dev/cpuset/foreground/cpus 0-7
   write /dev/cpuset/background/cpus 0-7
   write /dev/cpuset/system-background/cpus 0-7

   # Add a cpuset for the camera daemon
   # We want all cores for camera
   mkdir /dev/cpuset/camera-daemon
   write /dev/cpuset/camera-daemon/cpus 0-3
   write /dev/cpuset/camera-daemon/mems 0
   chown cameraserver cameraserver /dev/cpuset/camera-daemon
   chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
   chmod 0660 /dev/cpuset/camera-daemon/tasks

on charger
    start vendor.hvdcp_opti
    setprop sys.usb.configfs 1

    # Enable UFS powersaving
    write /sys/devices/soc/1da4000.ufshc/clkscale_enable 1
    write /sys/devices/soc/1da4000.ufshc/clkgate_enable 1
    write /sys/devices/soc/1da4000.ufshc/hibern8_on_idle_enable 1

    write /sys/module/lpm_levels/parameters/sleep_disabled N

    # disable thermal core control
    write /sys/module/msm_thermal/core_control/enabled 0

    # online cpu 0 and set governor powersave
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

    # offline remaining cores
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

on late-fs
    # Enable boot time fs tuning (ro like system is on sda, rw like userdata is on sde)
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sde/queue/iostats 0
    write /sys/block/sde/queue/nr_requests 256
    write /sys/block/sda/queue/read_ahead_kb 2048

on property:sys.boot_completed=1
    # Disable boot time fs tuning
    write /sys/block/sde/queue/read_ahead_kb 1024
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sde/queue/iostats 1
    write /sys/block/sda/queue/read_ahead_kb 1024
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1

    # Enable UFS powersaving
    write /sys/devices/soc/1da4000.ufshc/clkscale_enable 1
    write /sys/devices/soc/1da4000.ufshc/clkgate_enable 1
    write /sys/devices/soc/1da4000.ufshc/hibern8_on_idle_enable 1

    # disable thermal core control until CPU is configured
    write /sys/module/msm_thermal/core_control/enabled 0

    # bring CPUs online
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000

    # configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/down_rate_limit_us 20000
    # CPU is configured, re-enable thermal core control
    write /sys/module/msm_thermal/core_control/enabled 1

    # Enable bus-dcvs
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/devfreq/soc:qcom,cpubw/polling_interval 50
    write /sys/class/devfreq/soc:qcom,cpubw/min_freq 1525
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/mbps_zones "3143 5859 11863 13763"
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_ceil_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_io_percent 34
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/low_power_delay 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/guard_band_mbps 0
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/up_scale 250
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/idle_mbps 1600

    # Configure memory latencies
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu0/mem_latency/ratio_ceil 400

    write /sys/class/devfreq/soc:qcom,memlat-cpu4/governor "mem_latency"
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/polling_interval 10
    write /sys/class/devfreq/soc:qcom,memlat-cpu4/mem_latency/ratio_ceil 400

    write /sys/class/devfreq/soc:qcom,mincpubw/governor "cpufreq"

    # Setup power retention
    write /sys/module/lpm_levels/system/pwr/cpu0/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/cpu1/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/cpu2/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/cpu3/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu4/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu5/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu6/ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/cpu7/ret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/pwr-l2-dynret/idle_enabled N
    write /sys/module/lpm_levels/system/pwr/pwr-l2-ret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/perf-l2-dynret/idle_enabled N
    write /sys/module/lpm_levels/system/perf/perf-l2-ret/idle_enabled N
    write /sys/module/lpm_levels/parameters/sleep_disabled N

    # Setup cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-3

    # Enable Adaptive LMK
    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 105984

    # Set BFQ I/O scheduler
    setprop sys.io.scheduler "bfq"
