<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.lineageos.settings.device"
      android:sharedUserId="android.uid.system">

    <original-package android:name="com.cyanogenmod.settings.device" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /> 
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:label="GestureHandler"
            android:theme="@style/Theme.Settings"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true"
            android:allowBackup="true"
            android:persistent="true">

        <receiver android:name="org.lineageos.settings.device.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="org.lineageos.settings.device.ScreenGestureService" />
        <service android:name="org.lineageos.settings.device.SqueezeGestureService" />
        <service android:name="org.lineageos.settings.device.ScreenStateService" />

        <activity
            android:name=".EdgeSenseSettingsActivity"
            android:label="@string/gesture_edge_sense_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/style_summary" />
        </activity>

        <activity
            android:name=".ScreenOffGestureSettingsActivity"
            android:label="@string/gesture_screen_off_title">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/style_summary" />
        </activity>

    </application>
</manifest>
