<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.lineageos.settings.device"
      android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /> 
    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <application android:label="GestureHandler"
            android:theme="@style/Theme.Settings"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true"
            android:allowBackup="true">

        <receiver android:name="org.lineageos.settings.device.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name="org.lineageos.settings.device.ScreenGestureService" />
        <service android:name="org.lineageos.settings.device.SqueezeGestureService" />
        <service android:name="org.lineageos.settings.device.ScreenStateService" />

        <activity
            android:name=".TouchscreenGestureSettingsActivity"
            android:label="@string/gesture_panel_display_title"
            android:theme="@style/Theme.Settings">
            <intent-filter>
                <action android:name="org.lineageos.settings.device.GESTURE_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
